<%= render "admin/shared/links" %>
  <div class="container">
    <div>
      <div>
        <h2 class="bg-light text-center col-7 ">
          <%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細
        </h2>
        <%= form_with model: @customer, url: customers_update_info_path, method: :patch do |f| %>
          <table class="table table-borderless mt-3">
            <thead>
              <tr>
                <th class="col-3">
                  氏名
                </th>
                <td>
                  <%= f.text_field :first_name %> 
                </td>
                <td>
                  <%= f.text_field :last_name %>
                </td>
              </tr>
              <tr>
                <th>
                  フリガナ
                </th>
                <td>
                  <%= f.text_field :first_name_kana %>
                </td>
                <td>
                  <%= f.text_field :last_name_kana %>
                </td>
              </tr>
              <tr>
                <th>
                  郵便番号
                </th>
                <td>
                  <%= f.text_field :postal_code %>
                </td>
              </tr>
              <tr>
                <th>
                  住所
                </th>
                <td>
                  <%= f.text_field :address %>
                </td>
              </tr>
              <tr>
                <th>
                  電話番号
                </th>
                <td>
                  <%= f.text_field :telephone_number %>
                </td>
              </tr>
              <tr>
                <th>
                  メールアドレス
                </th>
                <td>
                  <%= f.text_field :email %>
                </td>
              </tr>
              <tr>
                <th class="colspan-3">
                </th>
                <td>
                    <%= f.submit "編集内容を保存",class: 'btn btn-success' %>
                </td>
                <td>
                  <%= link_to "退会する", customers_unsubscribe_path, class: 'btn btn-danger' %>
                </td>
              </tr>
            </thead>
          </table>
        <% end %>
      </div>
    </div>
  </div