<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>注文詳細</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= @customer.last_name %>
              <%= @customer.first_name %>
            </td>
            <td>
              <%= @order.create_at %>
            </td>
            <td>
              <%= 配送先 %>
              <%= @order.shipping_postal_code %>
              <%= @order.shipping_address %>
              <%= @order.shipping_name %>
            </td>
            <td>
              <%= @order.payment_method %>
            </td>
            <td>
              <%= @order.total_payment %> "足し算" <%= @order.postage %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
