<%= render "admin/shared/links" %>
  <div class="container">
    <div class="col-10">
      <div class="mt-5">
        <h2 class="bg-light text-center col-5 ">注文履歴一覧</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>購入日時</th>
              <th>購入者</th>
              <th>注文個数</th>
              <th>注文ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= link_to admin_order_path(order.id) do %>
                      <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                    <%end %>
                </td>
                <td>
                    <%= order.customer.first_name %>
                    <%= order.customer.last_name %>
                </td>
                <td>
                  <% @amount=0 %>
                  <% order.order_details.each do |order_detail| %>
                    <% @amount += order_detail.amount %>
                  <% end %>
                  <%= @amount %>
                </td>
                <td><%= order.order_received_status_i18n %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>