<%= render "public/shared/links" %>
  <div class="container">
    <div class=" col-12 mt-5">
      <div class="d-flex justify-content-between">
        <div>
          <h2 class="bg-light text-center">
            ショッピングカート
          </h2>
        </div>
        <div>
          <%= link_to "カートを空にする", cart_items_dlete_destroy_all_path, method: :delete, class: "btn btn-danger" %>
        </div>
      </div>

      <div class="mt-3">
        <table class="table table-bordered text-justify">
          <thead class="thead-light">
            <tr>
              <th class="col-4">
                商品名
              </th>
              <th class="col-2">
                単価(税込)
              </th>
              <th class="col-2">
                数量
              </th>
              <th class="col-2">
                小計
              </th>
              <th class="colspan-3">
              </th>
            </tr>
          </thead>
          <% @total = 0 %>
            <tbody>
              <% @cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= cart_item.item.name %>
                </td>
                <td>
                  <%= cart_item.item.with_tax_price %>
                </td>
                <td>
                  <%= form_with model: cart_item,  url: cart_item_path(cart_item.id), method: :patch do |f| %>
                    <%= f.select :amount, *[1..10]  %>
                    <%= f.submit "変更", class: "btn btn-success" %>
                  <% end %>
                </td>
                <td>
                   <%= cart_item.subtotal %>
                   <% @total += cart_item.subtotal %>
                </td>
                <td>
                  <%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          
            <table class="table mt-4 table-boderless">
              <tbody>
                <tr>
                  <th>
                    <%= link_to "買い物を続ける", root_path, class: "btn btn-info"%>
                  </th>
                  <th class="col-6">
                  </th>
                  <th class="bg-light border border-dark">
                    合計金額
                  </th>
                  <td class="border border-dark">
                    <%= @total %>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
    <div class="text-center mt-5">
      <% if  CartItem.exists? %>
        <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %>
      <% else %>
      <% end %> 
      
    </div>
  </div>>