<%= render "public/shared/links" %> 
  <div class="container">
    <div class="mt-5 ">
      <h4 class="row">
        商品一覧
        <p>(全<%= @items.count %>件)</p>
      </h4>
      <div class="flex-wrap">
        <div>
          <% @items.each do |item| %>
            <table>
              <tbody>
                <tr>
                  <td>
                    <%= image_tag item.image %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= item.name %> 
                  </td>
                </tr>                
                <tr>
                  <td>
                    ¥<%= item.price %>
                  </td>
                </tr>                 
             </tbody>
            </table>
          <% end %>
        </div>
      </div>
      <%= paginate @items %>
    </div>
  </div>